body {
    font-family: 'Poppins', sans-serif;
    background-color: #F5F5F5;
    margin: 0;
    padding: 0;
}
/*LOGIN DAN REGISTRASI ADMIN USER*/
        .auth-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            width: 100%;
        }

        .bg-user-theme {
            background-color: #e8f5e9;
        }

        .bg-admin-theme {
            background-color: #f8fafc;
        }

        .card-login {
            max-width: 950px;
        }

        .img-login{
            object-fit: cover;
        }

        .btn-login {
            background-color: #2ecc71;
            border: none;
            color: white;
            padding: 12px;
            font-weight: 600;
            border-radius: 10px;
            transition: 0.3s;
        }
        .btn-login:hover {
            background-color: #27ae60;
            color: white;
        }
        .bg-admin .img-login {

            filter: brightness(0.6) sepia(0.5) hue-rotate(120deg); 
        }

        .btn-login-admin {
            background-color: #064e3b;
            border: none;
            color: white;
            padding: 12px;
            font-weight: 600;
            border-radius: 10px;
            transition: 0.3s;
        }
        .btn-login-admin:hover {
            background-color: #08634b;
            color: white;
        }
/* DASHBOARD USER */
/* CEK KEBUTUHAN AIR */


        
